.section-search .left {
  padding-left: 10px;
}

.place-below {
  margin-right: 80px;
}

.formcontainer {
  position: relative;
  right: 160px;
}

.cryptorow {
  position: absolute;
  height: 90px;
  margin: 20px;
  width: 380px;
}

.section-transaction {
  position: absolute;

  top: 450px;
  width: 70%;
  height: 400px;
  margin-left: 80px;
}

body {
  margin-bottom: 80em;

}

.transact {
  margin-left: 0px;
  padding-bottom: 5px;
}

.section-transaction {
  margin-top: 80px;
}


ul#myfields li {
  display: inline;
}

.wrapper {

  background: grey;
  display: inline;
}

.row-2 {
  margin-top: 0px;


}

.row-1 {
  margin-bottom: 0px;
}

.section-right {
  float: right;

  width: 25%;
  position: relative;
  left: 50%;
  margin-right: 320px;
  padding: 10px;
  margin-top: 5px;
  padding-left: 30px;
  padding-top: 10px;
}

a:hover {
  font-weight: bold;
}